*{margin: 0;
padding: 0;
box-sizing: border-box;}

.container{
    width: 70%;
    max-height: 1152px;
    margin: 0;
}

.row{
    display: flex;
}

.logo, .link, .login{
    background-color: #d9a41f;

}

.debug header{background-color: #add8e6;}

.site_header{padding: 5rem;}

.col-2{width: calc((100%/12)*2);
}

[class*="col-"]{border: 1px dashed black;}

.col-8{width: calc((100%/12)*8);}

.login{display: flex;
    justify-content: flex-end;
padding: 1rem;}

.logo{padding: 1rem;}

.links{display: flex;
justify-content: center;}

ul{list-style: none;}

li{padding: 1rem;}

.section1{background-color: #00008b;
padding: 2rem;}

.container_section1{width: 70%;
max-width: 1152px;
margin: auto;}

.row_section1{display: flex;
justify-content: center;}

.col-10{width: calc((100%/12)*10);
height: 20rem;
background-color: #ee82ee;}

.container_section2{width: 70%;
max-width: 1152px;
margin: auto;}

.row_section2{display: flex;
justify-content: center;}

.col-7{width: calc((100%/12)*7);
height: 20rem;
background-color: blue;
margin-top: 2rem;
margin-bottom: 2rem;}

.col-5{width: calc((100%/12)*5);
height: 20rem;
background-color: pink;
margin-top: 2rem;
margin-bottom: 2rem;}

.section3{background-color: #d3d3d3;}

.container_section3{
    width: 70%;
    max-width: 1152px;
    margin: auto;}

.row_section3{
    display: flex;
    justify-content: center;}

.container_section4{    width: 70%;
    max-width: 1152px;
    margin: auto;}

.row_section4{    display: flex;
    justify-content: center}